.logoContainer{
    height: 200px;
    display: flex;
    width: 100%;
    transform: translate3d(0, 0, 0);
    -moz-animation: moveSlideshow 60s linear infinite;
    -webkit-animation: moveSlideshow 60s linear infinite;
    animation: moveSlideshow 60s linear infinite;
}

.logoContainer img{
    height: 7vh;
    margin: 0.5rem;
}

.logoContainer img:nth-child(odd) {
    align-self: flex-start;
    transform: translate3d(0, 0, 0);
    animation: moveDownUp  15s linear infinite;
}
.logoContainer img:nth-child(even) {
    align-self: flex-end;
    transform: translate3d(0, 0, 0);
    animation: moveUpDown 15s linear infinite;
}

@keyframes moveSlideshow {  
    0% { 
        -webkit-transform: translate3d(0, 0, 0); 
    }
    100% { 
        -webkit-transform: translateX(-100%);
    }
    /* 100% { 
        -webkit-transform: translate3d(0, 0, 0);
    } */
}
@keyframes moveUpDown {  
    0% { 
        -webkit-transform: translateY(0%);  
    }
    50% { 
        -webkit-transform: translateY(-200%);  
    }
    100% { 
        -webkit-transform: translateY(0%);
    }
}
@keyframes moveDownUp {  
    0% { 
        -webkit-transform: translateY(0%);  
    }
    50% { 
        -webkit-transform: translateY(200%);  
    }
    100% { 
        -webkit-transform: translateY(0%);
    }
}


