.logoContainer{
    width: 100vw;
    overflow: hidden;
    display: block;
    flex-flow: row;
    flex-wrap: nowrap;
    white-space: nowrap;
}
.logos{
    /* overflow: hidden; */
    width: 100vw;
    height: 25vh;
    justify-content: space-evenly;
    display: inline-flex;
    -moz-animation: moveSlideshow 30s linear infinite;
    -webkit-animation: moveSlideshow 30s linear infinite;
    animation: moveSlideshow 30s linear infinite;
    margin: 0 2rem;
}
.logos2{
    overflow: hidden;
    width: 100vw;
    height: 25vh;
    justify-content: space-evenly;
    display: inline-flex;
    -moz-animation: moveSlideshow2 30s linear infinite;
    -webkit-animation: moveSlideshow2 30s linear infinite;
    animation: moveSlideshow2 30s linear infinite;
    animation-delay: 15s;
    margin: 0 2rem;
}
@media only screen and (max-width: 900px) {
    .logos2{
        visibility: hidden;
    }
}

.logos img,.logos2 img{
    height: 7vh;
    margin: 0.5rem;
}

.logos img:nth-child(odd),.logos2 img:nth-child(odd) {
    align-self: flex-start;
    animation: moveDownUp  15s linear infinite;
}
.logos img:nth-child(even), .logos2 img:nth-child(even) {
    align-self: flex-end;
    animation: moveUpDown 15s linear infinite;
}

@keyframes moveSlideshow {  
    from {
        transform: translateX(100%);
      }
      to {
        transform: translateX(-100%);
      }
}
@keyframes moveSlideshow2 {  
    from {
        overflow: visible;
        transform: translateX(0%);
      }
      to {
        transform: translateX(-200%);
      }
}
@keyframes moveUpDown {  
    0% { 
        -webkit-transform: translateY(0%);  
    }
    50% { 
        -webkit-transform: translateY(-100%);  
    }
    100% { 
        -webkit-transform: translateY(0%);
    }
}
@keyframes moveDownUp {  
    0% { 
        -webkit-transform: translateY(0%);  
    }
    50% { 
        -webkit-transform: translateY(100%);  
    }
    100% { 
        -webkit-transform: translateY(0%);
    }
}


